#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #b0abab;
  background: radial-gradient(
    circle,
    rgba(176, 171, 171, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.titulo{
  color: black;
  font-family: "Elms Sans", sans-serif;
}

.contenidoPrincipal {
  flex-grow: 1;
}

.cardLogin {
  width: 550px;
}

.cardMenu{
  background-color: rgb(241, 241, 241);
  border: 2px rgb(217, 216, 216) groove;
}

.cardMenu:hover{
  transform: scale(1.02);
  transition: 0.5s;
}